@import '../../../style/mixins/index';

@prolayout-setting-drawer: ~'@{vts-prefix}-setting-drawer';
@prolayout-setting-drawer-btn-size: 50px;
@prolayout-setting-drawer-icon-size: 25px;

.@{prolayout-setting-drawer} {
      position: fixed;
      inset-block-start: 240px;
      inset-inline-end: 0px;
      z-index: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: @prolayout-setting-drawer-btn-size;
      height: @prolayout-setting-drawer-btn-size;
      font-size: 16px;
      text-align: center;
      border-end-start-radius: 4px;
      border-start-start-radius: 4px;
      -webkit-backdropilter: saturate(180%) blur(20px);
      backdrop-filter: saturate(180%) blur(20px);
      cursor: pointer;
      pointer-events: auto;
      opacity: 0.5;

      button.vts-btn {
            width: @prolayout-setting-drawer-btn-size;
            height: @prolayout-setting-drawer-btn-size;
            background-color: #1F2F3E;
            border-color: #1F2F3E;
            color: #fff;
            border-radius: 10px 0px 0px 10px;
      }

      i.vtsicon {
            font-size: @prolayout-setting-drawer-icon-size;
      }

      :hover {
            opacity: 1;
      }
}

@drawer-prefix-cls: ~'@{vts-prefix}-drawer';

.@{drawer-prefix-cls} {
      &-content {
            background-color: @drawer-bg;
            color: @prolayout-text-color;

            .vts-form {
                  vts-input-group.vts-input-affix-wrapper, 
                  input.vts-input, 
                  input.vts-input:focus, 
                  textarea.vts-input, 
                  textarea.vts-input:focus {
                        background-color: @prolayout-input-background;
                  }
                  
                  input.vts-input, 
                  input.vts-input:focus, 
                  textarea.vts-input, 
                  textarea.vts-input:focus {
                        color: @prolayout-text-color;
                  }      
            }

            vts-input-group.vts-input-affix-wrapper, 
            input.vts-input, 
            input.vts-input:focus, 
            textarea.vts-input, 
            textarea.vts-input:focus {
                  background-color: @prolayout-input-background;
            }
            
            input.vts-input, 
            input.vts-input:focus, 
            textarea.vts-input, 
            textarea.vts-input:focus {
                  color: @prolayout-text-color;
            }

            .vts-form-item-has-error .vts-form-item-control .vts-input, 
            .vts-form-item-has-error .vts-form-item-control .vts-input-affix-wrapper, 
            .vts-form-item-has-error .vts-form-item-control .vts-input-affix-wrapper:hover, 
            .vts-form-item-has-error .vts-form-item-control .vts-input:hover {
                  border-color: #E03;
            }

            .vts-form-item-label>label.vts-form-item-required:not(.vts-form-item-required-mark-optional)::after,
            .vts-form-item-control .vts-typo-color-error {
                  color: #E03;
            }
      }

      &-title {
            background-color: @drawer-bg;
            color: @prolayout-text-color;
      }
}